.box{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
	height: 100%;
	background-image: url(bac.png);
	-webkit-background-size: cover;

}
	/*<!--游戏结束页面-->*/
.over{
	/*display: none;*/
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 600px;
	background: #58a;
	color: greenyellow;
	/*text-shadow: 0 1px hsl(0,0%,85%),
	             0 2px hsl(0,0%,80%),
	             0 3px hsl(0,0%,75%),
	             0 4px hsl(0,0%,70%),
	             0 5px hsl(0,0%,65%),
	             0 5px 10px black;*/
	font: bold 500%/1 Rockwell, serif;
	transform: scale(0,0);
	font-family: "microsoft sans serif";
	background: url(ba.jpg);
	background-size: cover;
	z-index: 1000;
}
.over-act{
	transition: all 0.7s linear;
	transform:scale(1,1);
}
.over-act2{
	transition: all 0.7s linear;
	transform:scale(0,0);
}
#scene{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	margin-top: 80px;
	background: transparent;
	border: 2px solid #95EC16;
}
#scene div{
	width: 23px;
	height: 23px;
	border:1px solid transparent;
	float: left;
}
#scene .she{
	background-image: url(d.png);
	-webkit-background-size: contain;
}
#scene .shiwu{
	/*background: blue;*/
	background-image: url(shi.png);
	-webkit-background-size: cover;
}

.new{
	margin: 0 auto;
	font-family: "microsoft sans serif";
	padding-top: 350px;
	width: 200px;
	margin-left: 70%;
	height: 40px;
	font-size: 30px;
	color: green;
	z-index: 1200;
}
.new a{
	color: #000;
	text-decoration: none;
	font-family: "microsoft yahei";
}
.over h1{
	margin-top: 100px;
	font-size: 100px;
	color: #000;
}
.lenght{
	position: absolute;
	left: 44%;
	bottom: 13px;
	color: burlywood;
	font-size: 32px;
	margin-top: 20px;
	text-shadow:none;
	color: #000;
	font-family: "苹方";
	z-index: 1200;
	
}
.sheico{
	position: absolute;
	left: 38%;
	top: 220px;
	z-index: -1;
	height: 400px;
}
.gui{
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 320px;
}
.guize{
	position: absolute;
	right: 24px;
	bottom: 270px;
	width: 250px;
	height: 180px;
	font-size: 12px;
	font-family: "microsoft yahei";
	text-space-collapse: 0;
	line-height: 16px;
	text-align: left;
	
}
.guize h6{
	padding: 0;
	margin: 0;
	margin-top: 6px;
	text-align: center;
	font-size: 14px;
	color: #ccc;
}
.guize p{
	margin: 2px 6px;
	color: #fff;
}

/*按钮*/
.btn{
	position: absolute;
	left: 100px;
	top: 100px;
	/*height: 100%;*/
}
.button{
	display: block;
	width: 80px;
	height: 40px;
	text-decoration: none;
	color: #fff;
	margin: 30px 30px;
	background: tan;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	color: #fff;	
	font-weight: bold;
	font-family: "microsoft yahei";
	z-index: 97;
}
.start,.stop{
	z-index: 99;
}
/* green */
.green{
	transition: all .2s linear;
}
.green:hover{
	transform: scale(1.2);
}
.small{
	z-index: 99;
}
.po{
	position: absolute;
	left:0px;
	bottom: 0px;
	z-index: 98;
	/*transition: all .2s linear;*/
}
.po:hover{
	/*transform: scale(1.2);*/
}
.po-essy{
	transition: transform 0.5s linear;
	transform: translateY(70px);
}
.po-mid{
	transition: transform 0.5s linear;
	transform: translateY(140px);
}
.po-nan{
	transition: transform 0.5s linear;
	transform: translateY(210px);
}
.massege{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 500px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	z-index: 1;
	color: #FFFF00;
	font-size: 30px;
	font-family: "微软雅黑";
}
